.container {
    /*Arriba de todo*/
    position: fixed;
    z-index: 9;

  background-color: #101428;
  width: 412px;
  height: auto; 
  top: 13vh;
  left: 17vw;
   pointer-events: all; 
  color: white;
  /*Para las casillas*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid;


}
.container hr{
width: 80%;
border-style: groove;
}
.button{
display: inline-flex;
height: 30px;
}
.container button{
display: inline-flex;
height: 30px;
width: 80%;
margin-left: 10%;
margin-bottom: 1px;
}
.container input {
width: 78.5%;
margin-left: 10%;
height: 44px;
}
.container select{
width: 80%;
margin-left: 10%;
margin-top: 2px;
height: 30px;
}
.button {
	overflow: hidden;
	position: absolute;
	border: none;
    right: 0px;
	padding: 0;
	width: 2em; height: 2em;
	border-radius: 50%;
	background: transparent;
	color: #1da1f2;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
}	
button:focus {
		outline: solid 0 transparent;
		box-shadow: 0 0 0 2px #8ed0f9
	}
	
	.button:hover {
		background: rgba(29, 161, 142, .1)
	}
	

