.container {
  background-color: #101428;
  display: flex;
  position: static;
  width: var(--FilterBarWidth);
  height: var(--FilterBarHeigth);
  flex-direction: var(--flow);
  color: white;
}


