.container {
  position: relative;
  width: 200px;
  margin: 2px;
  height: 200px ;
  border: solid 2px rgba(0, 0, 0, 0.185);
  opacity: 1;
  border-radius: 5%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 1);
  max-width: 200px;
  min-width: 200px;

}


.container:hover {

  animation: Clickme infinite 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: zoom-in;
  background-color: rgba(191, 221, 221, 0);
  border: solid rgba(255, 109, 56, 0) 2px;
  opacity: 0.99;
  
  border-radius: 0%;

}

.textName {
  position: absolute;
  font-size: 2fr;
  font-weight: 800;
  top: 0;
  left: 5px;
  color: #ffffff;
  overflow-wrap: break-word;
  
}

.textContinent {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
  color: transparent;
}
:hover > .textName {
  /* transform: scale(1.05); */
  font-weight: bold;
  text-shadow: 1px 1px #000000,-1px -1px #000000,0px 0px 7px  #000000;
  color: #ffffff;
  left: 20px;
}
:hover > .textContinent {
 transform: scale(1.05);
  font-weight: bold;
  /* text-shadow: 1px 1px #000000,-1px -1px #000000,0px 0px 7px  #000000; */
  color: #ffffff;
  bottom: 0px;
  
  color: transparent;
}

.flag {
  position: absolute;
  width: 100%;
  min-width: 100%;
  border-radius: 15%;
  bottom: 0;
  height: 80%;
  min-height: 80%;
  top: 20%;
  z-index: -1;

  object-fit: cover;
}
:hover > .flag {
  position: absolute;
  width: 100%;
  min-width: 100%;
  border-radius: 15%;
  bottom: 0;
  height: 80%;
  min-height: 80%;
  top: 20%;
  z-index: -1;

  object-fit: contain;
}

@keyframes Clickme {
  from {
    transform: rotate(1deg) scale(1.05);
  }
  45% {
    transform: rotate(-1deg) scale(1);
  }
  to {
    transform: rotate(1deg) scale(1.05);
  }
}

.card{

  --CardW:calc(100% / 5);
  --CardH: calc(100% / 5);
  max-width: 200px;
  min-width: 200px;
  min-width: 150px;
  display: block;
  position: absolute;
  width: var(--CardW);
  height: var(--CardH);
  height: calc(100% / 5);


  opacity: 0.9;
  border-radius: 5%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 1);

  background-color: rgba(191, 221, 221, 0);
  border: solid rgba(255, 109, 56, 0) 2px;
}

/*IZQUIERDA*/
.card0 {  
  top: 0;
  left: 0;
}
.card1{
  top: calc(1*var(--CardH));
  left: 0;
}

.card2 {
  top: calc(2*var(--CardH));
  left: 0;
}
/*DERECHA*/
.card3 {
  top: calc(3*var(--CardH));
  left: 0;
}

.card4 {
  top: calc(4*var(--CardH));
  left: 0;
}
.card5 {
    top: calc(0*var(--CardH));
  right: 0;
}
.card6 {
    top: calc(1*var(--CardH));
  right: 0;
}
.card7 {
    top: calc(2*var(--CardH));
  right: 0;
}
.card8 {
    top: calc(3*var(--CardH));
  right: 0;
}
.card9 {
    top: calc(4*var(--CardH));
  right: 0;
}


.card:hover {

  animation: Clickme infinite 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: zoom-in;
  background-color: rgba(191, 221, 221, 0);
  border: solid rgba(255, 109, 56, 0) 2px;
  opacity: 1;
  border-radius: 0%;

  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  z-index: 4;

}
.closeButton {
  display: inline-flex;
  align-self: flex-end;
  top: 2px;
  right: 2px;
  width: 20px;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  color: #000;
}
.closeButton:hover {
  color: rgb(168, 22, 22);
  text-shadow: 0px 0px 1px rgb(134, 6, 96);
}


@media only screen and (max-width: 800px) {

  
  .textName {
    position: absolute;
    font-size: 2fr;
    font-weight: 800;
    top: 0;
    color: #ffffff;
    overflow-wrap: break-word;
    
  }
  
  .textContinent {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
    color: transparent;
  }
  :hover > .textName {
    /* transform: scale(1.05); */
    font-weight: bold;
    text-shadow: 1px 1px #000000,-1px -1px #000000,0px 0px 7px  #000000;
    color: #ffffff;
  }
  :hover > .textContinent {
   transform: scale(1.05);
    font-weight: bold;
    /* text-shadow: 1px 1px #000000,-1px -1px #000000,0px 0px 7px  #000000; */
    color: #ffffff;
    bottom: 0px;
    color: transparent;
  }
  .card{
    width: var(--CardW);
    height: 100px;
    font-size: small;
    opacity: 0.5;
    border-radius: 5%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .card:hover {

    animation: Clickme infinite 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: zoom-in;
    background-color: rgba(191, 221, 221, 0);
    border: solid rgba(255, 109, 56, 0) 2px;
    opacity: 0.99;
    
    border-radius: 0%;
  
  }
  .card0 {  
    top: 100px;
    left: 20px;
  }
  .card1{
    left: calc(var(--CardW) + calc(var(--CardW) / 3));
    top: 0;
  }
  
  .card2 {
    left: calc(2*var(--CardW) + 2*calc(var(--CardW) / 3));
    top: 0;
  }
  /*DERECWA*/
  .card3 {
    left: calc(3*var(--CardW) + 3*calc(var(--CardW) / 3) - 20px);
    top: 100px;
  }
  
  .card4 {
    top: calc((100% - 60px - 45px) / 2);
    left: calc(var(--CardW) + 3*var(--CardW));
    
  }
  .card9 {
    left: calc(0*var(--CardW));
    top: calc((100% - 60px - 45px) / 2);
  }

  /*ABAHIOO*/
  .card5 {
    left: calc(3*var(--CardW) + 3*calc(var(--CardW) / 3) - 20px);
    top: calc(100% - 60px - 45px - 100px);

  }
  .card6 {
    left: calc(2*var(--CardW) + 2*calc(var(--CardW) / 3));
    top: calc(100% - 60px - 45px);
  }
  .card7 {
    left: calc(1*var(--CardW) + 1*calc(var(--CardW) / 3));
    top: calc(100% - 60px - 45px);
  }
  .card8 {

    left: 20px;

    top: calc(100% - 60px - 45px - 100px);
  }

}
