.container{
width: 100%;
color: aliceblue;

}

.container input{
width: 100%;
}
.paisesdisponibles{
background-color: #36363e;
color: rgb(6, 6, 6);
overflow-y: scroll;
max-height: calc(100vh - 60px - 200px);
bottom: 0;
width: 250px;
margin-left: 30px;
}
.disponiblesContainer h1{
  color: rgb(247, 247, 247);
  }
.disponiblesContainer{
    display: flex;
    width: 80%;
    margin-left: 10%;
}
.botonasignar{
width: 80%;

}

.botonasignar {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  max-width: 80%;
  margin-left: 10%;
  min-width: 145px;
}

.botonasignar:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.botonasignar:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}


.botonasignar:disabled {
  box-shadow: #141468 0 3px 7px inset;
  transform: translateY(2px);
}
.botonasignar:active {
  box-shadow: #141468 0 3px 7px inset;
  transform: translateY(2px);
  
}
	

.closeButton {
    display: inline-flex;
    align-self: flex-end;
    top: 2px;
    right: 2px;
    width: 20px;
  }
  
  .closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1rem;
    color: #000;
  }
  .closeButton:hover {
    color: rgb(168, 22, 22);
    text-shadow: 0px 0px 1px rgb(134, 6, 96);
  }