.container {
  display: flex;
  position: relative;
  flex-direction: var(--iflow);
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-items: center;
  justify-content: space-between;
  width: var(--countriesW);
  height: var(--countriesH);
  left: var(--FilterBarWidth);
  overflow: auto;
  min-height: var(--cardH);
}
.bg {
  position: absolute;
  background-attachment: scroll;
  width: var(--countriesW);
  height: var(--countriesH);
  left: var(--FilterBarWidth);
  background-color: saddlebrown;
  top: var(--PageBarHeight);
  background-position: center top, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: var(--cardH);
}

@media only screen and (max-width: 800px) {
  .container {
    left: 0;
    flex-wrap: nowrap;
    min-height: var(--cardH);
  }
  .bg {
    left: 0;
    width: 100vw;
    top: calc(var(--NavBarHeigth) + var(--PageBarHeight));
    background-position: center top, left top;
    min-height: var(--cardH);
    background-size: 100% 100%;
  }
}
