.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-items: center;
  justify-content: space-around;
  overflow-y: scroll;
  height: 100vh; 
  flex-wrap: wrap;
  max-height: calc(100vh - 60px - 60px);
  border-radius: 1%;
  overflow-x: hidden;

}
.bg {
  background-attachment: scroll;
  background-position: center top, left top;
  background-repeat: no-repeat;
  background-size: calc(100% - 400px) 100%;
  background-position-x: 200px;
  border-radius: 20%;
}


.container {
  display: grid; 
  position: relative;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  grid-gap: 10px;
}

@media only screen and (max-width: 800px) {
  .bg {
    background-size: 100%  100%;
    background-position-x: 0;
  background-repeat: no-repeat;
    border-radius: 55%;
  }
}




