.container {
  position: relative;
  width: var(--cardW);
  margin: 2px;
  height: var(--cardH);
  border: solid 2px rgba(0, 0, 0, 0.185);
  opacity: 0.5;
  border-radius: 5%;
}


.container:hover {
  animation: Clickme infinite 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: zoom-in;
  background-color: rgba(191, 221, 221, 0);
  border: solid rgba(255, 109, 56, 0) 2px;
  opacity: 0.99;

}

.textName {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
  color: #00000054;
  transform: rotate(20deg) scale(1.2);
  margin-top: calc(var(--cardH) / 3);
}

.textContinent {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
  color: transparent;
}
:hover > .textName {
  /* transform: scale(1.05); */
  font-weight: bold;
  text-shadow: 1px 1px #000000,-1px -1px #000000,0px 0px 7px  #000000;
  color: #ffffff;
}
:hover > .textContinent {
 transform: scale(1.05);
  font-weight: bold;
  /* text-shadow: 1px 1px #000000,-1px -1px #000000,0px 0px 7px  #000000; */
  color: #ffffff;
  bottom: 0px;
  
  color: transparent;
}

.flag {
  width: 100%;
  border-radius: 5%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 0px;
  z-index: -1;
}
@keyframes Clickme {
  from {
    transform: rotate(1deg) scale(1.05);
  }
  45% {
    transform: rotate(-1deg) scale(1);
  }
  to {
    transform: rotate(1deg) scale(1.05);
  }
}


@media only screen and (max-width: 700px) {
  /*Big smartphones [426px -> 600px]*/
  .container {
    border: solid 2px rgba(0, 0, 0, 0.185);
    opacity: 0.5;
  }
  .flag {
    width: 100%;
  }
}
