.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: flex-end;
  background-position: left top, left top;
  background-repeat: no-repeat;
}
.paginacion{
  background-color: #282c34;
  height: 8%;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.Filtros {
  background-color: #063b3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: max-content;
  width: 20%;
}
@media only screen and (max-width: 600px){
  /*Big smartphones [426px -> 600px]*/


 
  }


  