:root {
  --primary-bg: #8a2be2;
  --borderSizeB: 4px;
  --formWidth: 600px;
  --formHeigth: calc(40vh - var(--NavBarHeight));
  --NavBarHeight: 45px;
  --PageBarHeight: 45px;
  --FilterBarWidth: 100px;
  --FilterBarHeight: calc(100vh - var(--NavBarHeight) - var(--PageBarHeight));
  --flow: column;
  --iflow: row;
  --cardH: 120px;
  --cardW: 200px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-repeat: repeat;
}
.rutacountries{
  display: flex;
  flex-direction: var(--flow);
  background-color: #8a2be2;
}
.rutaactivities{
  background-color: #8a2be2;
  display: flex;
  position: absolute  ;
  flex-direction: var(--iflow);
  top: var(--NavBarHeight);
  width: 100vw;
  height: calc(100vh - var(--NavBarHeight));

}
@media only screen and (max-width: 700px) {
  /*Big smartphones [426px -> 600px]*/
  :root {

    --flow: row;
    --iflow: column;
    --NavBarHeight: 25px;
    --PageBarHeight: 25px;
    --FilterBarWidth: 100vw;
    --FilterBarHeight: 100px;
    --formWidth: calc(100vw -  var(--cardW));
    --formHeigth: 33%;


  }
}
